input[type="text"], input[type="email"], input[type="password"]
{
    border: 1px solid #77777796;
    padding: 11px 30px 11px 6px;
    font-size: 15px;
    width: 100%;
}

select
{
    padding: 5px 10px;
    border: 1px solid #77777796;
    font-family: var(--fft);
}

textarea
{
    resize: none;
    border: 1px solid #77777796;
    border-radius: 0px;
    font-size: 15px !important;
    width: 100%;
    padding: 6px !important;
}

label
{
    font-size: 13px !important;
    margin-left: 4px;
    position: relative;
    text-shadow: 0 0 black;
    top: -1px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus
{
    border: 1px solid var(--cbl);
    outline: none;
    background: #6888e038;
}

textarea:focus, select:focus
{
    border: 1px solid var(--cbl);
    outline: none;
}


.text.label
{
    color: #0c0c0cb8;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.text.error
{
    color: #234eca;
    font-size: 12px;
    font-weight: 700;
}


.signifyError
{
    background: #6888e038 !important;
    border: 2px dashed #28319475 !important;
}