<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/css/general/all.css">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- Scripts -->
    <script src="../../static/scripts/general/nav.js"></script>
    <script src="../../static/scripts/general/accordion.js"></script>
    <title>Help</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href=""><img src="../../static/images/nav/logo.png"></a></li>
        </ul>
        <ul class="jqnm">
            <li><a href="" class="text tb">About Us</a></li>
            <li><a href="" class="text tb">Contact Us</a></li>
            <li><a href="" class="text tb">Help</a></li>
            <li><a href="" class="text tb">Pay</a></li>
            <li><a href="" class="text tb">Appointments</a></li>
        </ul>
        <ul>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </ul>
    </nav>
    <section id="hlpo">
        <header>
            <h1 class="hdr">How Can We Help?</h1>
        </header>
    </section>
    <section id="hlpt">
        <header>
            <h2 class="hdr">Frequently Asked Questions</h2>
        </header>
        <div>
            <h1 class="hdr">General</h1>
            <div>
                <h2 class="text"><span>+</span> What are your business hours</h2>
                <p class="text">Waltronics Auto Care Center is open from 9:00 AM to 6:00 PM, Monday to Saturday.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> How am I able to contact this business</h2>
                <p class="text">You can contact us via phone, email, and in-person.<br>To contact us by the phone, please call (123)-456-7890 during our business hours.<br>To contact us by email, please email waltronicsbiz@gmail.com. You should receive a response 1-2 business days after sending said email.<br>To contact us in-person, please visit [insert address].<br><br><b>Note:</b> We do not fix cars for people who do not have a schedule appointment due to us trying our best to maximize efficiency.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> What is the process of getting my car fixed</h2>
                <p class="text">First, schedule an appointment. After we have agreed on a date for you to bring your car in to be repaired, you will be able to bring in your car or have a towing service bring it for you. When your car has been fully repaired, you will pay for the service and then get your car back, as if you got it from the dealership itself!</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> What cars do you fix</h2>
                <p class="text">We fix all cars, domestic and European. With a few exceptions here and there, the mechanics here at Waltronics Auto Care Center have extensive experience in many car brands (e.g. BMW, Mercedes-Benz, Ford, Toyota, etc). If you have any doubts, don't hesitate to give us a call or send an email.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> What services do you provide</h2>
                <p class="text">At Waltronics Auto Care Center, we provide repairs for your air conditioning, brakes, (car) computer, engine, transmission, tires, etc. Along with maintenance checks , tune-ups, and replacements, we essentially fix any problem you may be experiencing<br>On the rare chance that we are not able to fix your problem or the issue is giving us an issue as well, we will be fully transparent with you. On the even rarer chance that we are not able to fix your car, we will simply return it to you at not cost. However, if we did fix one issue on your car, you will still be charged for that service.</p>
            </div>
        </div>
        <div>
            <h1 class="hdr">Appointment</h1>
            <div>
                <h2 class="text"><span>+</span> How can I schedule an appointment</h2>
                <p class="text">You can schedule an appointment by filling out a short application online. If you prefer an alternate way, you can have us schedule your appointment by calling us. Due to the ongoing Covid-19 pandemic, we discourage scheduling appointments in-person. This measure taken is for the safety of our customers and our employees.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> What happens when I schedule an appointment</h2>
                <p class="text">After you schedule an appointment, we will call you as soon as possible to confirm a date for the appointment and to discuss any questions or concerns you may have. After we schedule an appointment, you will bring your car on that day we scheduled you for.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> What are the different statuses of the appointment</h2>
                <p class="text">'Currently in Progress' means that we have not viewed your appointment application as of yet.<br>'Confirmed' means that you and one of our associates has scheduled a date for the appointment.<br>'Under Repair' means that your car is now at our workshop being fixed.<br>'Completed' means that your car has been fully repaired and is ready to go.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> I entered wrong information on my appointment application, what can I do</h2>
                <p class="text">If you enter wrong information on your appointment, no worries, just wait for us to call you and we will be able to change it to your liking.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> How can I delete my appointment</h2>
                <p class="text">If you want to delete your appointment, either call us or wait for us to call you (if we haven't scheduled you for an appointment). After your car has been fixed, your appointment's information will be deleted a week after as an extra measure to ensure your information stays private and secure. </p>
            </div>
        </div>
        <div>
            <h1 class="hdr">Procedure</h1>
            <div>
                <h2 class="text"><span>+</span> How long will it take for my car to be fixed</h2>
                <p class="text">The time it takes for your car to be fixed depends on multiple factors: the service(s), the car, the context of your car, and parts. While we cannot promise that your car will be done a second after it has arrived, we promise that we will try to get your car back to you as fast as we possibly can without decreasing the quality of your service.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> What should I do if my car cannot move on its own</h2>
                <p class="text">If your car cannot move on its own, you must call a towing service or have us call one for you. If you cannot pay for the towing service right away, this will be reflected as a fee on your bill.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Do I have to schedule an appointment</h2>
                <p class="text">Yes. To ensure a quicky and easy transaction of vehicles, where you give us your vehicle in need of something and we give you back a fixed-up vehicle, we ask for our customers to schedule an appointment with us either by filling out an online application or calling our business number.<br>Coming in-person to schedule an appointment is also an option, but to keep our employees and you safe from COVID-19 and its variants, we discourage scheduling an appointment this way.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> What will you fix</h2>
                <p class="text">If you give us a problem you're car is experiencing, for example "My car is making a weird noise when accelerating", we will find the root of that issue and only fix that issue. We will not fix other issues without your permission in order to ramp up your price because we don't believe in being dishonest.<br>To reiterate, if your car has multiple problems and you only came to us for one, we will only fix the problem you reported. This is to avoid any conflicts concerning pricing.<br>However, we will ask if you would like us to fix issues (that we found) that may have gone unnoticed.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Do I need to buy the parts</h2>
                <p class="text">We will buy parts that are within a reasonable price range for you; keep in mind that this will be reflected in your bill. However, we might ask for you to purchase affordable parts (that we have chosen). If you do pay for the parts, this will not be reflected in your price. This is just to prevent the conflict where we have bought an expensive part for a customer's car and then the customer decides to unexpectedly leave; this obviously hurts the business.</p>
            </div>
        </div>
        <div>
            <h1 class="hdr">Prices</h1>
            <div>
                <h2 class="text"><span>+</span> What am I paying for</h2>
                <p class="text">At Waltronics Auto Care Center LLC, the amount of labor (30min, 1hr, 2hr, etc.), the labor itself (the work that needs to be done), the cost of the parts, and any additional fees (ex: if you we paid for your towing service), will be factored into your total amount to pay. Keep in mind that we don't make you pay the full-price for the parts we ordered. When most people see this, they immediately jump to the conclusion that their payment will cost them an arm and a leg, but that is not the case at Waltronics Auto Care Center LLC. At our automechanic workshop, we charge less than most, if not all. This is because we know and understand how important cars have become in our day to day life.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Can I pay for the equipment myself</h2>
                <p class="text">Definitely! If you would like to pay for your parts due to any underlying reason, we will not stop you. Just simply run this by us so we don't buy duplicates of the same parts by accident. You can ship the parts to the workshop directly or you can ship the parts to your own residence and drop it off at the workshop. Whatever is good to you and your circumstances, of course.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Will paying for the parts reflect on my bill</h2>
                <p class="text">If you pay for the parts, this aspect of the billing will be completely removed. We would never try to trick you into paying more than you must already pay; here at Waltronics Auto Care Center LLC are fair and trustworthy mechanics.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> What if I am unable to pay for the service immediately</h2>
                <p class="text">If you are unable to pay for the service right away, please wait before you schedule an appointment. While we understand that you may be going through your own struggles, we must take this measure to ensure the longevity of our business.  We will give you an estimate of the service you would like us to give, and you can save up if you would like. </p>
            </div>
            <div>
                <h2 class="text"><span>+</span> How will I pay for the service</h2>
                <p class="text">You can pay for the service by cash or credit. If you choose to pay with credit, you can come in to our shop to pay or pay online. If you choose to pay with cash, there's only one road that can go and that is the road to our shop. To ensure the safety of your financial information, we use technology that was created for the sole purpose of making sure that people with malicious intent or even people with pure intent will never lay an eye on your credit card information.</p>
            </div>
        </div>
        <div>
            <h1 class="hdr">Covid-19 Pandemic</h1>
            <div>
                <h2 class="text"><span>+</span> How are you protecting your business and its customers</h2>
                <p class="text">Waltronics Auto Care Center LLC does as much as we possibly can to protect our customers and employees. Clean bathrooms with soaps to wash off any bacteria are available to our customers, hand sanitizer and/or disinfectant spray is never more than 2 feet away, social distancing is practiced, masks are worn, and any places that are commonly touched (ex: door handles) are disinfected daily.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Are customers required to wear a mask</h2>
                <p class="text">We encourage our customers to wear a mask as we all have a family or someone we would like to protect (even if that's not the case, please wear a mask). If a customer decides to not wear a mask, we ask that they keep their distance and to stay in the outside areas rather than closed-off areas.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Is social distancing practiced at your business</h2>
                <p class="text">Social distancing is practiced to the best of our abilities. </p>
            </div>
            </div>
        </div>
        <div>
            <h1 class="hdr">Other</h1>
            <div>
                <h2 class="text"><span>+</span> Can I rate your business</h2>
                <p class="text">You can rate our business on various sites (e.g. Google Maps, Yelp).</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Are you hiring</h2>
                <p class="text">We are not currently hiring.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Can I wait at the shop while my car is being repaired</h2>
                <p class="text">You can wait at the shop while your car is being repaired. However this is not advised if it will take multiple days to fix your car as our shop is not a hotel.</p>
            </div>
            <div>
                <h2 class="text"><span>+</span> Who will fix my car</h2>
                <p class="text">You will meet the person who will fix your car when you come in with your car.</p>
            </div>
        </div>
    </section>
    <section class="other">
        <ul>
            <li class="text"><a style="color: white !important" href="/">Home</a></li>
            <li class="text"><a style="color: white !important" href="/path">Appointments</a></li>
            <li class="text"><a style="color: white !important" href="/schedule">Schedule an Appointment</a></li>
            <li class="text"><a style="color: white !important" href="/view">View an Appointment</a></li>
            <li class="text"><a style="color: white !important" href="/employeeLogIn">Employee Login <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg></a></li>
        </ul>
        <ul>
            <li class="text"><a style="color: white !important" href="/contactUs">Contact Us</a></li>
            <li class="text"><a style="color: white !important" href="/contactUs">Find Us</a></li>
            <li class="text"><a style="color: white !important" href="/aboutUs">About Us</a></li>
            <li class="text"><a style="color: white !important" href="/help">Help</a></li>
            <li class="text"><a style="color: white !important" href="/pay">Pay</a></li>
        </ul>
        <ul>
            <li class="text">Business Hours: 9AM to 6PM<br>Monday through Friday</li>
            <li class="text">Phone Number: (123)-456-7890</li>
            <li class="text">Address: 1234 N Dean Ave, Kissimmee, FL</li>
            <li class="text">Business Email: waltronics@biz.com</li>
            <li><img src="../../static/images/nav/logodark.png"></li>
        </ul>
    </section>
</body>
</html>