<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/css/general/all.css">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- Scripts -->
    <script src="../../static/scripts/general/nav.js"></script>
    <script src="../../static/scripts/general/flip.js"></script>
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><img src="../../static/images/nav/logo.png"></a></li>
        </ul>
        <ul class="jqnm">
            <li><a href="/aboutUs" class="text tb">About Us</a></li>
            <li><a href="/contactUs" class="text tb">Contact Us</a></li>
            <li><a href="/help" class="text tb">Help</a></li>
            <li><a href="/pay" class="text tb">Pay</a></li>
            <li><a href="/path" class="text tb">Appointments</a></li>
        </ul>
        <ul>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </ul>
    </nav>
    <section id="hso">
        <header>
            <h1 class="hdr">Quality Service.<br>For Less.</h1>
            <p class="text">Since 2006, Waltronics Auto Care Center LLC has provided countless customers with honest and reputable service for their automobiles. From computer diagnostics to engine repairs, we at Waltronics Auto Care Center LLC do it all. If your car needs a repair, feel free to schedule an appointment with us. You'll be back on the road in no time.</p>
            <button><a href="#hstw">Learn More</a></button>
            <button><a href="/schedule">Schedule an Appointment</a></button>
        </header>
        <img id="imageLoop" src="../../static/images/home/car0.png">
    </section>
    <section id="hstw">
        <header>
            <h2 class="hdr">An <span>Honest</span> Automobile Repair Shop</h2>
            <p class="text">Waltronics Auto Care Center LLC is an automobile repair shop. The saying goes that, "if your car has a problem, Waltronics Auto Care has a solution". So let us take care of you and your car by checking out our shop on 1234 N Dean Ave, Kissimmee, FL.</p>
        </header>
        <div>
            <div>
                <img src="../../static/images/home/highfive.png">
                <h4 class="hdr">Reputable Work</h4>
                <p class="text">At Waltronics Auto Care Center LLC, we give our customers honest service. Our customers can call at any time and learn about the progress our team of mechanics have made on their vehicle. Not only that, but we guarantee our customers meticulous and accurate performance. Our word is our bond! In other words, we're transparent. You can trust us to do our best. Please understand that in order to give our customers quality service, we sometimes require longer times for repairs that may need a scarce part or two.</p>
            </div>
            <div>
                <img src="../../static/images/home/money.png">
                <h4 class="hdr">Affordable Prices</h4>
                <p class="text">From unncessary "fixes" to overcharging, many customers have horror stories about mechanics who stretch the truth or blatantly lie in order to generate a larger profit for themselves. Fortunately, our mechanics value honesty over a short-term profit which means that you do not have to worry about being conned. We charge affordable prices because it is the right thing to do and because we understand how vital cars are in one's day to day life.</p>
            </div>
            <div>
                <img src="../../static/images/home/calculation.png">
                <h4 class="hdr">Experienced Mechanics</h4>
                <p class="text">Cars have become increasingly complex and intricate, which can be a positive or a negative depending on if you're a mechanic or a regular driver. Fortunately, mechanics at Waltronics Auto Care Center LLC possess a large body of knowledge concerning repairing vehicles which means that we can fix virtually any car. Years of experience with fixing and building cars from the ground up has enabled us to also source our parts at reliable and trustworthy automotive suppliers. Our team of dedicated mechanics can and will get the job done.</p>
            </div>
        </div>
    </section>
    <section id="hsth">
        <div value="serve">
            <header>
                <h4 class="hdr">Services</h4>
                <p class="text">You need it, we got it.</p>
            </header>
            <img src="../../static/images/home/redcar.png">
            <button value="serve">Click to Learn More</button>
            <p class="text">Waltronics Auto Care Center provides service for any domestic and imported car, which means (in layman's terms) to just bring your car down! Running an automobile repair shop for 10+ years has granted us the experience of working with a vast range of cars; from Toyotas to BMWs (and everything in between), you have our guarantee that we'll be able to fix your car. Don't forget that we also use the finest products to ensure that your car continues to run for as long as possible. Look down below to see a list of the general services we offer:<span><br>-Air Conditioning<br>-Brakes<br>-Computer Diagnostics<br>-Engine Repairs<br>-Replacements (e.g. windshield wipers, headlights)<br>-Tire Repairs<br>-Tune-Up/Maintenance Check<br>-Transmission Repairs<br>-Other</span></p>
             
        </div>
        <div value="appoint">
            <header>
                <h4 class="hdr">Appointments</h4>
                <p class="text">It's just our way of being efficient.</p>
            </header>
            <img src="../../static/images/home/whitecar.png">
            <button value="appoint">Click to Learn More</button>
            <p class="text">To begin the process of having your car repaired by us, you must schedule an appointment; this is just a measure taken to ensure a quick and easy experience for our beloved customers. You can schedule an appointment on our website or by calling us or by meeting us in person. Due to the ongoing pandemic, we
                recommend that you fill out the online form.<br>After you submit a form, regardless of how you did, we will contact you as soon as possible to discuss the date of the appointment along with other specifics and questions you may have. You can also view the information regarding your appointment on our website; you'll 
                be able to see the status of your car's repairment and the date and time of your appointment. If you have anymore questions about how appointments work, feel free to check out our FAQ or contact us via email or phone.
                </p>
        </div>
        <div value="pay">
            <header>
                <h4 class="hdr">Payment</h4>
                <p class="text">We're understanding people.</p>
            </header>
            <img src="../../static/images/home/blackcar.png">
            <button value="pay">Click to Learn More</button>
            <p class="text">
                After we finish repairing your car, you will be able to pay for the service in-person or online. If you choose to pay in-person, we take cash or credit; if the latter, it's only possible for us to take credit. Your financial information is safe with us, we work with the most secure brands to ensure that your information 
                stays with you and does not end up in the hands of malicious people. Unfortunately, we do not allow our customers to pay in installments, this is just taken as a security measure. However, it's unlikely that you will need installments because of our low prices.<br>After you've paid for the service, we will gladly
                return to you your car key and you will be a happy person driving a happy car, happy merrily after!
                </p>
        </div>
    </section>
    <section id="hsf">
        <header>
            <span class="hdr">A QUICK RECAP OF</span>
            <h2 class="hdr">Our <span>Superb</span> Auto Shop</h2>
            <span class="text">By the time we're done with it, your car will be good as new.</span>
            <p class="text">Waltronics Auto Care Center is an automobile repair shop that guarantees their customers an affordable price, a quality fix, and a pleasant experience. The longer you wait to schedule an appointment with us, the longer you will have to put up with that weird noise that you hear when you press on that brake. In other words, it just makes sense to come visit us, even if it's just a maintenance check. We love everything about cars and we would love to be the ones to have you back driving on the road, safely. A happy person is a person who gets their car fixed at Waltronics Auto Care Center.</p>
            <h3 class="hdr">So...What Are You Waiting On?<br>Schedule an Appointment With Us Today!</h3>
            <button><a href="/schedule">Schedule an Appointment</a></button>
        </header>
        <img src="../../static/images/home/bluecar.png">
    </section>
    <section class="other">
        <ul>
            <li class="text"><a style="color: white !important" href="/">Home</a></li>
            <li class="text"><a style="color: white !important" href="/path">Appointments</a></li>
            <li class="text"><a style="color: white !important" href="/schedule">Schedule an Appointment</a></li>
            <li class="text"><a style="color: white !important" href="/view">View an Appointment</a></li>
            <li class="text"><a style="color: white !important" href="/employeeLogIn">Employee Login <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg></a></li>
        </ul>
        <ul>
            <li class="text"><a style="color: white !important" href="/contactUs">Contact Us</a></li>
            <li class="text"><a style="color: white !important" href="/contactUs">Find Us</a></li>
            <li class="text"><a style="color: white !important" href="/aboutUs">About Us</a></li>
            <li class="text"><a style="color: white !important" href="/help">Help</a></li>
            <li class="text"><a style="color: white !important" href="/pay">Pay</a></li>
        </ul>
        <ul>
            <li class="text">Business Hours: 9AM to 6PM<br>Monday through Friday</li>
            <li class="text">Phone Number: (123)-456-7890</li>
            <li class="text">Address: 1234 N Dean Ave, Kissimmee, FL</li>
            <li class="text">Business Email: waltronics@biz.com</li>
            <li><img src="../../static/images/nav/logodark.png"></li>
        </ul>
    </section>
</body>
</html>