<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/css/general/all.css">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- Scripts -->
    <script src="../../static/scripts/general/nav.js"></script>
    <script src="../../static/scripts/general/flip.js"></script>
    <script src="../../static/scripts/general/login.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href=""><img src="../../static/images/nav/logo.png"></a></li>
        </ul>
        <ul class="jqnm">
            <li><a href="" class="text tb">About Us</a></li>
            <li><a href="" class="text tb">Contact Us</a></li>
            <li><a href="" class="text tb">Help</a></li>
            <li><a href="" class="text tb">Pay</a></li>
            <li><a href="" class="text tb">Appointments</a></li>
        </ul>
        <ul>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </ul>
    </nav>
    <div id="login-grid">
        <div id="login" class="override">
            <h1 class="hdr">Log-In</h1>
            <form id="submitLogIn" method="POST" action="/employeeLogIn">
                <div>
                    <p class="text label">Username: </p>
                    <input class="text" name="userName" type="text" required>
                    <p class="text error">Please enter a username.</p>
                </div>
                <div>
                    <p class="text label">Password: </p>
                    <input class="text" name="passwordPas" type="password" required>
                    <input class="text" style="display: none" name="passwordTex" type="text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunglasses" viewBox="0 0 16 16">
                        <path d="M3 5a2 2 0 0 0-2 2v.5H.5a.5.5 0 0 0 0 1H1V9a2 2 0 0 0 2 2h1a3 3 0 0 0 3-3 1 1 0 1 1 2 0 3 3 0 0 0 3 3h1a2 2 0 0 0 2-2v-.5h.5a.5.5 0 0 0 0-1H15V7a2 2 0 0 0-2-2h-2a2 2 0 0 0-1.888 1.338A1.99 1.99 0 0 0 8 6a1.99 1.99 0 0 0-1.112.338A2 2 0 0 0 5 5H3zm0 1h.941c.264 0 .348.356.112.474l-.457.228a2 2 0 0 0-.894.894l-.228.457C2.356 8.289 2 8.205 2 7.94V7a1 1 0 0 1 1-1z"/>
                      </svg>
                    <p class="text error">Please enter a password.</p>
                </div>
                <button class="loginButton">Log-In</button>
                <p style="display: none" class="text">There were no accounts with the entered username and password in our database. Please try again.</p>
            </form>
            <p style="cursor: pointer; text-decoration: underline" class="text label"><a href="/createAccount">or Create New Account</a></p>
        </div>
        <div id="login-image">
            <img style="top: -10% !important;" src="../../static/images/create/work.PNG">
            <!--CREDIT TO CRISTIAN PINTOS "CHAOTIC WORKPLACE" ON DRIBBBLE FOR IMAGE-->
            <!--CREDIT TO MAITE FRANCHI "E BUILDING" ON DRIBBBLE FOR IMAGE-->
        </div>
    </div>
    
    <section class="other">
        <ul>
            <li class="text"><a style="color: white !important" href="/">Home</a></li>
            <li class="text"><a style="color: white !important" href="/path">Appointments</a></li>
            <li class="text"><a style="color: white !important" href="/schedule">Schedule an Appointment</a></li>
            <li class="text"><a style="color: white !important" href="/view">View an Appointment</a></li>
            <li class="text"><a style="color: white !important" href="/employeeLogIn">Employee Login <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg></a></li>
        </ul>
        <ul>
            <li class="text"><a style="color: white !important" href="/contactUs">Contact Us</a></li>
            <li class="text"><a style="color: white !important" href="/contactUs">Find Us</a></li>
            <li class="text"><a style="color: white !important" href="/aboutUs">About Us</a></li>
            <li class="text"><a style="color: white !important" href="/help">Help</a></li>
            <li class="text"><a style="color: white !important" href="/pay">Pay</a></li>
        </ul>
        <ul>
            <li class="text">Business Hours: 9AM to 6PM<br>Monday through Friday</li>
            <li class="text">Phone Number: (123)-456-7890</li>
            <li class="text">Address: 1234 N Dean Ave, Kissimmee, FL</li>
            <li class="text">Business Email: waltronics@biz.com</li>
            <li><img src="../../static/images/nav/logodark.png"></li>
        </ul>
    </section>
</body>
</html>