<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/css/general/all.css">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- Scripts -->
    <script src="../../static/scripts/general/nav.js"></script>
    <script src="../../static/scripts/general/scrollPaying.js"></script>
    <script src="../../static/scripts/general/verifyTip.js"></script>
    <script src="../../static/scripts/general/verifyPay.js"></script>
    <script src="../../static/scripts/general/verifyCard.js"></script>
    <title>Paying</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href=""><img src="../../static/images/nav/logo.png"></a></li>
        </ul>
        <ul class="jqnm">
            <li><a href="" class="text tb">About Us</a></li>
            <li><a href="" class="text tb">Contact Us</a></li>
            <li><a href="" class="text tb">Help</a></li>
            <li><a href="" class="text tb">Pay</a></li>
            <li><a href="" class="text tb">Appointments</a></li>
        </ul>
        <ul>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </ul>
    </nav>
    
    <!-- Credit to Sergey Belenko's "Payment Widget" on Dribble.com for page design idea and inspiration. -->
    <!-- Credit to Sergey Belenko's "Payment Widget" on Dribble.com for page design idea and inspiration. -->
    <!-- Credit to Sergey Belenko's "Payment Widget" on Dribble.com for page design idea and inspiration. -->
    <section id="pyg">
        <div>
           <h3 class="hdr priceVar"><span>Total: </span><span>${{customer[8]}}</span></h3>
           <p class="text priceVar"><span>Price: </span><span>${{customer[8]}}</span></p>
           <p class="text"><span>Tip: </span><input class="text" type="text" name="tip" placeholder="0%"></p>
           <h3 class="hdr">Your Information:</h3>
           <p class="text"><span>Name:  </span>{{customer[0]}} {{customer[1]}}</p>
           <p class="text"><span>Appointment Number:  </span>{{customer[2]}}</p>
           <p class="text"><span>Services:  </span>{{customer[3]| replace("***444$$$",", ")}}{{customer[4].replace("***444$$$",", ")[:-2]}}</p>
           <p class="text"><span>Car:  </span>{{customer[5]}} {{customer[6]}} {{customer[7]}}</p>
           <p class="text" style="font-size: 11px; margin-top: 1rem;"><b>Note: </b>Tips max at 100%</p>
        </div>
        {% if not fail and not pass_ %}
        <form action="/paying" method="POST">
            <h2 class="hdr">Payment Information:</h2>
            <div class="errorMessageContainer4"></div>
            <div>
                <div><span class="text label">Name</span><input class="text" type="text" name="creditName"></div>
                <div><span class="text label">Credit Card Number</span><input class="text" type="text" name="creditNumber"><img id="cardLogo" src="../../static/images/paying/card2.png"></div>
                <div><span class="text label">Expiration Date</span><input class="text" type="text" name="creditDate" placeholder="01/23"></div>
                <div><span class="text label">CVV</span><input class="text" type="text" name="creditCVV"></div>
                <input type="hidden" name="userTip">
                <input type="hidden" name="userPrice" value="{{customer[8]}}">
            </div>
            <button class='text priceVar' type="submit" href="/paying">Pay <span>${{customer[8]}}</span></button>
        </form>
        {% endif %}
        {% if fail == True %}
        <div class="error"style="display:flex!important">
            <img src="../../static/images/goodbad/error.png">
            <h2 class="hdr">Error</h2>
            <p class="text">The information you have entered was either false or could not go through. If this issue occurs again, please call at (123)-456-7890 for help. You may try again.</p>
            <button><a href="/pay">Try Again</a></button>
        </div>
        {% elif pass_ == True %}
        <div class="paid" style="display:flex!important">
            <img src="../../static/images/pay/check.png">
            <h2 class="hdr" style="color: #32a852">Success</h2>
            <p class="text">We have received your payment. We will send you an email with the receipt/bill. Thank you for supporting and choosing Waltronics Auto Care Center. We hope to see you again (with no car issues, of course). Til then, have a great day!</p>
            <button><a href="/">Drive Home</button>
        </div>
        {% endif %}
        <!-- Credit to Sergey Belenko's "Payment Widget" on Dribble.com for page design idea and inspiration. -->
        <!-- Credit to Sergey Belenko's "Payment Widget" on Dribble.com for page design idea and inspiration. -->
        <!-- Credit to Sergey Belenko's "Payment Widget" on Dribble.com for page design idea and inspiration. -->
        
    </section>


















































    
    <section class="other">
        <ul>
            <li class="text"><a style="color: white !important" href="/">Home</a></li>
            <li class="text"><a style="color: white !important" href="/path">Appointments</a></li>
            <li class="text"><a style="color: white !important" href="/schedule">Schedule an Appointment</a></li>
            <li class="text"><a style="color: white !important" href="/view">View an Appointment</a></li>
            <li class="text"><a style="color: white !important" href="/employeeLogIn">Employee Login <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg></a></li>
        </ul>
        <ul>
            <li class="text"><a style="color: white !important" href="/contactUs">Contact Us</a></li>
            <li class="text"><a style="color: white !important" href="/contactUs">Find Us</a></li>
            <li class="text"><a style="color: white !important" href="/aboutUs">About Us</a></li>
            <li class="text"><a style="color: white !important" href="/help">Help</a></li>
            <li class="text"><a style="color: white !important" href="/pay">Pay</a></li>
        </ul>
        <ul>
            <li class="text">Business Hours: 9AM to 6PM<br>Monday through Friday</li>
            <li class="text">Phone Number: (123)-456-7890</li>
            <li class="text">Address: 1234 N Dean Ave, Kissimmee, FL</li>
            <li class="text">Business Email: waltronics@biz.com</li>
            <li><img src="../../static/images/nav/logodark.png"></li>
        </ul>
    </section>
</body>
</html>