#quoteContainer
{
    display: grid;
    margin-top: 2rem;
    
    grid-template-columns: 1fr;

}


#calculate
{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    border-top: 1px dashed #7777773d;
    border-bottom: 1px dashed #7777773d;
    padding: 2rem 1rem;
}
#calculate input, #quickView input
{
    border-radius: 4px;
    width: 100%;
}
#calculate div
{
    position: relative;
}
#calculate > header h1, #overview > header h1, #quickView > header h1
{
    font-size: 2rem;
}
#calculate > div > header
{
    display: flex;
    align-items: flex-start;
}
#calculate > div > header > h1
{
    display: inline-block;
    font-size: 1rem;
    color: green;
}
#calculate > header > h1 > span, #calculate > div> header> h1 > span, #quickView > header > span
{
    color: var(--cg);
    font-weight: 400;
    display: block;
}
#calculate > div > header > span
{
    font-size: 12px;
}
#calculate span.circle
{
    width: 20px;
    height: 20px;
    background: #77777791;
}
.equationFormat
{
    display: grid;
    align-items: center;
    grid-column-gap: 1rem;
    grid-template-columns: max-content min-content max-content min-content max-content;
    justify-items: center;
}
.equationFormat.service
{
   grid-template-columns: max-content min-content max-content min-content max-content min-content max-content !important;
}
div.equationFormat > div > span
{
    position: relative;
    bottom: 0;
    font-weight: 600;
    color: var(--cg);
}
#calculate input[name="amtHours"]
{
    width: 50px;
}
#calculate button, #quickView button, .changeAction button
{
    border-radius: 3px;
    padding: 10px 16px;
    background: #12a54d;
    color: white;
    border: none;
    cursor: pointer;
}
#calculate button i
{
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 1px;
}

#overview, #quickView, .changeAction
{
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    border-bottom: 1px dashed #7777773d;
}
.changeAction
{
    border: none !important;
}
#overview table
{
    border-collapse: collapse;
    width: 50%;
    box-shadow: -3px 5px 15px #4444442e;
    max-width: 780px;
}
#overview thead
{
    background: #12a54d;
    color: white;
    text-align: left;
    font-size: 20px;
}
#overview thead th
{
    font-weight: 700;
}
#overview tr
{
    height: 30px;
}
#overview tr:nth-child(even)
{
    background: #8080801a;
}
#overview tr > td:nth-child(2)
{
    display: flex;
    justify-content: space-between;
}
#overview th, #overview td
{
    padding: 5px;
    font-weight: 700;
    position: relative;
}
#overview p.text
{
    color: var(--cbk);
    font-weight: 700;
    font-size: 1.75rem;
}
#overview p.text span
{
    margin-right: 5px;
    font-weight: 900;
}
#overview td
{
    position: relative;
}
#overview td svg 
{
    color: rgba(128, 128, 128, 0.397);
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    visibility: hidden;
    cursor: pointer;
}
#overview tr:hover td svg
{
    visibility: visible;
}



#quickView
{
    grid-row-gap: 2rem;
    padding-bottom: 10rem;
}
#quickView > div:nth-child(3)
{
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
}
#quickView > div > div.serviceCard > h3.text
{
    margin-bottom: 1rem;
    font-size: 1rem;
}
.serviceCard
{
    width: fit-content;
    height: fit-content;
    border: 1px solid #d3d3d38f;
    padding: 30px 15px;
    border-radius: 4px;
    box-shadow: -7px 6px 10px #6262622e;
    position: relative;
    transition: var(--ftr);
}
#quickView > div > div.serviceCard > p:not(:nth-child(3))
{
    color: rgb(49, 49, 49);
    font-weight: 700;
}
#quickView button
{
    margin-top: 15px;
    display: flex;
    align-items: center;
}
div.serviceCard > span
{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
div.serviceCard > span > svg
{
    color: #80808080;
    width: 12px;
    height: 12px;
    transition: var(--ftr);
}
div.serviceCard > span:hover > svg
{
    color: var(--cr);
    transition: var(--ftr);
}
.priceSet
{
    color: #12a54d !important;
    background: white !important;
    border: 1px solid #a181812e !important;
    cursor: default !important;
}
.priceSet:hover
{
    transform: scale(1) !important;
}
